##############################
# Sistema Operacional
##############################

.DS_Store
Thumbs.db

##############################
# IntelliJ IDEA
##############################

.idea/
*.iml

##############################
# VS Code
##############################

.vscode/

##############################
# Backend - Spring Boot / Maven
##############################

**/target/

##############################
# Frontend - React
##############################

**/node_modules/

**/dist/

##############################
# Arquivos de ambiente
##############################

.env
.env.*